In [1]:
import pandas as pd 
Location = "datasets/gradedata.csv" 
df = pd.read_csv(Location) 
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [3]:
import numpy as np 
df['isFailing'] = np.where(df['grade']<70, 'yes', 'no') 
df.tail(10)

,fname,lname,gender,age,exercise,hours,grade,address,isFailing
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053",no
1991,Craig,Obrien,male,16,3,7,64.9,"524 Park Ave., Hollywood, FL 33020",yes
1992,Isabelle,Barber,female,14,5,9,78.5,"955 Glen Ridge Rd., Plattsburgh, NY 12901",no
1993,Risa,Watson,female,14,2,10,74.3,"37 Augusta Lane, Montgomery Village, MD 20886",no
1994,Emerson,Gill,male,17,5,5,67.5,"75 Wild Horse Street, Panama City, FL 32404",yes
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304",no
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731",no
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010",no
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601",yes
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043",no

In [ ]:
#Can you create a column for timemgmt that shows busy if a student exercises more than three hours per week 
#AND studies more than seventeen hours per week

In [11]:
import numpy as np 
df['Timemgmt'] = np.where(df['hours']>20, 'Busy', 'Not Busy') 
df.tail(10)

,fname,lname,gender,age,exercise,hours,grade,address,isFailing,isFailingMale,Timemgmt
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053",no,no,Not Busy
1991,Craig,Obrien,male,16,3,7,64.9,"524 Park Ave., Hollywood, FL 33020",yes,yes,Not Busy
1992,Isabelle,Barber,female,14,5,9,78.5,"955 Glen Ridge Rd., Plattsburgh, NY 12901",no,no,Not Busy
1993,Risa,Watson,female,14,2,10,74.3,"37 Augusta Lane, Montgomery Village, MD 20886",no,no,Not Busy
1994,Emerson,Gill,male,17,5,5,67.5,"75 Wild Horse Street, Panama City, FL 32404",yes,yes,Not Busy
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304",no,no,Not Busy
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731",no,no,Not Busy
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010",no,no,Not Busy
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601",yes,yes,Not Busy
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043",no,no,Not Busy

In [21]:
df['graderanked1'] = df['grade'].rank(ascending=0) 
df.tail(50)

,fname,lname,gender,age,exercise,hours,grade,address,isFailing,isFailingMale,Timemgmt,graderanked,graderanked1
1950,Kaseem,Finch,male,18,1,16,97.1,"6 Country Club Street, Providence, RI 02904",no,no,Not Busy,1840.5,160.5
1951,Lydia,Cook,female,16,5,7,71.7,"7270 Temple Dr., Neenah, WI 54956",no,no,Not Busy,278.0,1723.0
1952,Tatum,Hall,female,16,1,7,75.0,"56 North Paris Hill Street, Phoenix, AZ 85021",no,no,Not Busy,463.0,1538.0
1953,Erin,Mercado,female,15,4,9,71.4,"63 N. Miller Street, Downers Grove, IL 60515",no,no,Not Busy,268.0,1733.0
1954,Beatrice,Price,female,17,4,14,82.5,"48 Mayflower Ave., King Of Prussia, PA 19406",no,no,Not Busy,975.5,1025.5
1955,Carlos,Ingram,male,16,5,17,98.7,"8734 Squaw Creek St., Saint Petersburg, FL 33702",no,no,Not Busy,1884.5,116.5
1956,Neve,Barnes,female,19,2,9,79.8,"547 Southampton Rd., Jackson, NJ 08527",no,no,Not Busy,777.0,1224.0
1957,Aileen,Sutton,female,18,5,16,91.4,"404 Paris Hill Lane, West Roxbury, MA 02132",no,no,Not Busy,1612.5,388.5
1958,Craig,Roberts,male,14,1,5,66.4,"806 E. Bishop Ave., Goshen, IN 46526",yes,yes,Not Busy,103.5,1897.5
1959,Chelsea,Holloway,female,19,4,12,91.4,"191 Hillside St., Phoenixville, PA 19460",no,no,Not Busy,1612.5,388.5
1960,Emerald,Mckinney,female,17,3,8,78.4,"8912 Greenview Drive, Oxon Hill, MD 20745",no,no,Not Busy,687.0,1314.0
1961,Nero,Kennedy,male,14,4,14,88.3,"63 Manor St., Saint Charles, IL 60174",no,no,Not Busy,1407.5,593.5
1962,August,Green,male,16,2,9,87.2,"834 Pendergast Ave., Naples, FL 34116",no,no,Not Busy,1310.0,691.0
1963,Colleen,Holland,female,18,1,5,70.2,"472 Charles Ave., Marlton, NJ 08053",no,no,Not Busy,214.5,1786.5
1964,Zenaida,Maynard,female,16,2,19,91.3,"516 Dunbar St., Lynnwood, WA 98037",no,no,Not Busy,1604.0,397.0
1965,Lavinia,Carr,female,16,2,4,62.2,"993 Rockaway Road, Fleming Island, FL 32003",yes,no,Not Busy,39.5,1961.5
1966,Stone,Miles,male,15,4,12,87.4,"77 Pilgrim Street, Camas, WA 98607",no,no,Not Busy,1331.5,669.5
1967,Aurora,Gould,female,15,3,18,90.3,"719 Gonzales St., Danbury, CT 06810",no,no,Not Busy,1543.5,457.5
1968,Carlos,Aguirre,male,16,4,7,82.2,"9117 Fremont St., Eastpointe, MI 48021",no,no,Not Busy,948.0,1053.0
1969,Randall,Weaver,male,18,1,15,83.1,"360 Foxrun Ave., Utica, NY 13501",no,no,Not Busy,1025.0,976.0
1970,Armando,Mcclure,male,19,2,14,93.2,"23 Hall Road, Hagerstown, MD 21740",no,no,Not Busy,1707.0,294.0
1971,Haley,Mcgowan,female,17,3,16,90.4,"4 Wellington Street, Saint Louis, MO 63109",no,no,Not Busy,1555.0,446.0
1972,Fritz,Rojas,male,17,5,13,79.5,"16 East Edgewood St., Ashtabula, OH 44004",no,no,Not Busy,762.0,1239.0
1973,Allistair,Boyer,male,14,3,10,74.2,"9373 Helen Drive, Leland, NC 28451",no,no,Not Busy,415.0,1586.0
1974,Ella,Patterson,female,16,1,8,68.0,"999 Nicolls Avenue, Oviedo, FL 32765",yes,no,Not Busy,145.0,1856.0
1975,Felix,Freeman,male,15,4,11,75.2,"671 Division Ave., Vineland, NJ 08360",no,no,Not Busy,475.5,1525.5
1976,Dean,Oneil,male,16,2,8,74.5,"653 East Saxton Lane, Framingham, MA 01701",no,no,Not Busy,430.5,1570.5
1977,Quinlan,Hawkins,male,14,3,18,85.6,"9437 Longbranch Street, Rockville, MD 20850",no,no,Not Busy,1213.0,788.0
1978,Kiara,Lott,female,17,2,12,82.7,"7110 Ridge Road, Jacksonville, NC 28540",no,no,Not Busy,996.0,1005.0
1979,Kai,Woodard,female,17,5,17,100.0,"37 Addison St., Eastpointe, MI 48021",no,no,Not Busy,1957.0,44.0
1980,Maxine,Raymond,female,17,4,19,91.9,"739 Thomas Court, Memphis, TN 38106",no,no,Not Busy,1636.5,364.5
1981,Leah,Lawrence,female,15,5,15,100.0,"652 Pine Drive, Mountain View, CA 94043",no,no,Not Busy,1957.0,44.0
1982,Kalia,Lewis,female,18,1,6,61.4,"557 Theatre Lane, Green Cove Springs, FL 32043",yes,no,Not Busy,33.5,1967.5
1983,Anthony,Palmer,male,14,1,14,93.1,"914 NW. Lawrence Street, Lawrenceville, GA 30043",no,no,Not Busy,1699.5,301.5
1984,Joshua,Randolph,male,15,1,4,72.7,"9632 NE. Lakeshore St., Riverside, NJ 08075",no,no,Not Busy,331.0,1670.0
1985,Akeem,Luna,male,15,4,6,74.4,"750 Adams Drive, Goldsboro, NC 27530",no,no,Not Busy,426.0,1575.0
1986,Indigo,Mccoy,female,19,2,14,91.3,"9652 Columbia Ave., Chattanooga, TN 37421",no,no,Not Busy,1604.0,397.0
1987,Price,Wall,male,15,5,11,78.6,"8672 S. 53rd Drive, Waterford, MI 48329",no,no,Not Busy,701.5,1299.5
1988,Quinn,Patterson,male,15,1,14,78.0,"634 Cedar Swamp Ave., Burbank, IL 60459",no,no,Not Busy,666.0,1335.0
1989,John,Ford,male,14,2,14,91.2,"64 Devonshire Street, Orange Park, FL 32065",no,no,Not Busy,1596.0,405.0
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053",no,no,Not Busy,214.5,1786.5
1991,Craig,Obrien,male,16,3,7,64.9,"524 Park Ave., Hollywood, FL 33020",yes,yes,Not Busy,70.5,1930.5
1992,Isabelle,Barber,female,14,5,9,78.5,"955 Glen Ridge Rd., Plattsburgh, NY 12901",no,no,Not Busy,695.5,1305.5
1993,Risa,Watson,female,14,2,10,74.3,"37 Augusta Lane, Montgomery Village, MD 20886",no,no,Not Busy,421.5,1579.5
1994,Emerson,Gill,male,17,5,5,67.5,"75 Wild Horse Street, Panama City, FL 32404",yes,yes,Not Busy,130.5,1870.5
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304",no,no,Not Busy,794.0,1207.0
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731",no,no,Not Busy,1957.0,44.0
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010",no,no,Not Busy,1158.5,842.5
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601",yes,yes,Not Busy,180.0,1821.0
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043",no,no,Not Busy,770.0,1231.0

In [14]:
df[df['graderanked'] < 21]

,fname,lname,gender,age,exercise,hours,grade,address,isFailing,isFailingMale,Timemgmt,graderanked
340,Abbot,Hall,male,16,4,3,58.9,"84 Rock Creek Lane, Durham, NC 27703",yes,yes,Not Busy,7.5
388,Colton,Ochoa,male,17,1,4,60.3,"75 Arrowhead Drive, Danvers, MA 01923",yes,yes,Not Busy,18.5
410,Linda,Baldwin,female,16,5,2,59.0,"970 SW. Second Ave., Cedar Falls, IA 50613",yes,no,Not Busy,9.0
528,Chester,Vance,male,17,1,5,60.1,"732 Randall Mill Street, Covington, GA 30014",yes,yes,Not Busy,16.5
556,Lacey,Nieves,female,18,1,2,57.9,"38 West Brickyard Avenue, Roslindale, MA 02131",yes,no,Not Busy,6.0
664,Alika,Poole,female,19,2,16,32.0,"9282 Purple Finch Lane, Lexington, NC 27292",yes,no,Not Busy,1.0
672,Ciaran,Gay,male,19,4,3,59.3,"157 Bridge Street, Corona, NY 11368",yes,yes,Not Busy,11.0
700,Steven,Sherman,male,18,1,2,60.0,"8029 Depot Street, Port Charlotte, FL 33952",yes,yes,Not Busy,15.0
869,Tanek,Stephens,male,15,1,4,60.5,"167 Glen Eagles St., Merrimack, NH 03054",yes,yes,Not Busy,20.5
972,Keegan,Rasmussen,male,19,4,3,43.0,"876 East Pilgrim Street, Chelmsford, MA 01824",yes,yes,Not Busy,2.0
1068,Isaiah,Harrington,male,17,1,4,58.9,"47 Mill Pond St., Haines City, FL 33844",yes,yes,Not Busy,7.5
1207,Selma,Stout,female,19,2,3,59.4,"5 Pierce St., Chester, PA 19013",yes,no,Not Busy,12.0
1237,Willa,Byers,female,14,2,4,59.2,"9466 Wayne Lane, Torrington, CT 06790",yes,no,Not Busy,10.0
1494,Jenna,Wagner,female,16,1,3,56.3,"8829 Shore Dr., Hopewell Junction, NY 12533",yes,no,Not Busy,5.0
1512,Jermaine,Sims,male,16,2,3,60.5,"7994 Leatherwood St., Pittsfield, MA 01201",yes,yes,Not Busy,20.5
1590,Dillon,Kane,male,19,2,4,60.3,"141 SW. Birchpond Ave., Germantown, MD 20874",yes,yes,Not Busy,18.5
1870,Levi,Coleman,male,19,3,3,55.9,"9453 Laurel Street, Jersey City, NJ 07302",yes,yes,Not Busy,3.0
1882,Fitzgerald,Goff,male,18,1,4,59.8,"3 West Shipley Rd., Langhorne, PA 19047",yes,yes,Not Busy,13.5
1910,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037",yes,no,Not Busy,4.0
1916,Kevin,Townsend,male,14,5,2,60.1,"9805 Walnutwood Dr., Panama City, FL 32404",yes,yes,Not Busy,16.5
1924,Xanthus,Mcneil,male,16,3,4,59.8,"226 Redwood Lane, Boynton Beach, FL 33435",yes,yes,Not Busy,13.5

In [15]:
df[df['graderanked'] < 6].sort_values('graderanked')

,fname,lname,gender,age,exercise,hours,grade,address,isFailing,isFailingMale,Timemgmt,graderanked
664,Alika,Poole,female,19,2,16,32.0,"9282 Purple Finch Lane, Lexington, NC 27292",yes,no,Not Busy,1.0
972,Keegan,Rasmussen,male,19,4,3,43.0,"876 East Pilgrim Street, Chelmsford, MA 01824",yes,yes,Not Busy,2.0
1870,Levi,Coleman,male,19,3,3,55.9,"9453 Laurel Street, Jersey City, NJ 07302",yes,yes,Not Busy,3.0
1910,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037",yes,no,Not Busy,4.0
1494,Jenna,Wagner,female,16,1,3,56.3,"8829 Shore Dr., Hopewell Junction, NY 12533",yes,no,Not Busy,5.0

In [ ]:
#Can you find the 50 students with the most hours of study per week?

In [22]:
df['hoursofstudy'] = df['hours'].rank(ascending=0) 
df.tail(50)

,fname,lname,gender,age,exercise,hours,grade,address,isFailing,isFailingMale,Timemgmt,graderanked,graderanked1,hoursofstudy
1950,Kaseem,Finch,male,18,1,16,97.1,"6 Country Club Street, Providence, RI 02904",no,no,Not Busy,1840.5,160.5,245.0
1951,Lydia,Cook,female,16,5,7,71.7,"7270 Temple Dr., Neenah, WI 54956",no,no,Not Busy,278.0,1723.0,1638.5
1952,Tatum,Hall,female,16,1,7,75.0,"56 North Paris Hill Street, Phoenix, AZ 85021",no,no,Not Busy,463.0,1538.0,1638.5
1953,Erin,Mercado,female,15,4,9,71.4,"63 N. Miller Street, Downers Grove, IL 60515",no,no,Not Busy,268.0,1733.0,1362.5
1954,Beatrice,Price,female,17,4,14,82.5,"48 Mayflower Ave., King Of Prussia, PA 19406",no,no,Not Busy,975.5,1025.5,492.0
1955,Carlos,Ingram,male,16,5,17,98.7,"8734 Squaw Creek St., Saint Petersburg, FL 33702",no,no,Not Busy,1884.5,116.5,158.0
1956,Neve,Barnes,female,19,2,9,79.8,"547 Southampton Rd., Jackson, NJ 08527",no,no,Not Busy,777.0,1224.0,1362.5
1957,Aileen,Sutton,female,18,5,16,91.4,"404 Paris Hill Lane, West Roxbury, MA 02132",no,no,Not Busy,1612.5,388.5,245.0
1958,Craig,Roberts,male,14,1,5,66.4,"806 E. Bishop Ave., Goshen, IN 46526",yes,yes,Not Busy,103.5,1897.5,1841.0
1959,Chelsea,Holloway,female,19,4,12,91.4,"191 Hillside St., Phoenixville, PA 19460",no,no,Not Busy,1612.5,388.5,811.0
1960,Emerald,Mckinney,female,17,3,8,78.4,"8912 Greenview Drive, Oxon Hill, MD 20745",no,no,Not Busy,687.0,1314.0,1512.0
1961,Nero,Kennedy,male,14,4,14,88.3,"63 Manor St., Saint Charles, IL 60174",no,no,Not Busy,1407.5,593.5,492.0
1962,August,Green,male,16,2,9,87.2,"834 Pendergast Ave., Naples, FL 34116",no,no,Not Busy,1310.0,691.0,1362.5
1963,Colleen,Holland,female,18,1,5,70.2,"472 Charles Ave., Marlton, NJ 08053",no,no,Not Busy,214.5,1786.5,1841.0
1964,Zenaida,Maynard,female,16,2,19,91.3,"516 Dunbar St., Lynnwood, WA 98037",no,no,Not Busy,1604.0,397.0,39.5
1965,Lavinia,Carr,female,16,2,4,62.2,"993 Rockaway Road, Fleming Island, FL 32003",yes,no,Not Busy,39.5,1961.5,1911.5
1966,Stone,Miles,male,15,4,12,87.4,"77 Pilgrim Street, Camas, WA 98607",no,no,Not Busy,1331.5,669.5,811.0
1967,Aurora,Gould,female,15,3,18,90.3,"719 Gonzales St., Danbury, CT 06810",no,no,Not Busy,1543.5,457.5,87.0
1968,Carlos,Aguirre,male,16,4,7,82.2,"9117 Fremont St., Eastpointe, MI 48021",no,no,Not Busy,948.0,1053.0,1638.5
1969,Randall,Weaver,male,18,1,15,83.1,"360 Foxrun Ave., Utica, NY 13501",no,no,Not Busy,1025.0,976.0,353.0
1970,Armando,Mcclure,male,19,2,14,93.2,"23 Hall Road, Hagerstown, MD 21740",no,no,Not Busy,1707.0,294.0,492.0
1971,Haley,Mcgowan,female,17,3,16,90.4,"4 Wellington Street, Saint Louis, MO 63109",no,no,Not Busy,1555.0,446.0,245.0
1972,Fritz,Rojas,male,17,5,13,79.5,"16 East Edgewood St., Ashtabula, OH 44004",no,no,Not Busy,762.0,1239.0,645.5
1973,Allistair,Boyer,male,14,3,10,74.2,"9373 Helen Drive, Leland, NC 28451",no,no,Not Busy,415.0,1586.0,1190.5
1974,Ella,Patterson,female,16,1,8,68.0,"999 Nicolls Avenue, Oviedo, FL 32765",yes,no,Not Busy,145.0,1856.0,1512.0
1975,Felix,Freeman,male,15,4,11,75.2,"671 Division Ave., Vineland, NJ 08360",no,no,Not Busy,475.5,1525.5,998.5
1976,Dean,Oneil,male,16,2,8,74.5,"653 East Saxton Lane, Framingham, MA 01701",no,no,Not Busy,430.5,1570.5,1512.0
1977,Quinlan,Hawkins,male,14,3,18,85.6,"9437 Longbranch Street, Rockville, MD 20850",no,no,Not Busy,1213.0,788.0,87.0
1978,Kiara,Lott,female,17,2,12,82.7,"7110 Ridge Road, Jacksonville, NC 28540",no,no,Not Busy,996.0,1005.0,811.0
1979,Kai,Woodard,female,17,5,17,100.0,"37 Addison St., Eastpointe, MI 48021",no,no,Not Busy,1957.0,44.0,158.0
1980,Maxine,Raymond,female,17,4,19,91.9,"739 Thomas Court, Memphis, TN 38106",no,no,Not Busy,1636.5,364.5,39.5
1981,Leah,Lawrence,female,15,5,15,100.0,"652 Pine Drive, Mountain View, CA 94043",no,no,Not Busy,1957.0,44.0,353.0
1982,Kalia,Lewis,female,18,1,6,61.4,"557 Theatre Lane, Green Cove Springs, FL 32043",yes,no,Not Busy,33.5,1967.5,1746.5
1983,Anthony,Palmer,male,14,1,14,93.1,"914 NW. Lawrence Street, Lawrenceville, GA 30043",no,no,Not Busy,1699.5,301.5,492.0
1984,Joshua,Randolph,male,15,1,4,72.7,"9632 NE. Lakeshore St., Riverside, NJ 08075",no,no,Not Busy,331.0,1670.0,1911.5
1985,Akeem,Luna,male,15,4,6,74.4,"750 Adams Drive, Goldsboro, NC 27530",no,no,Not Busy,426.0,1575.0,1746.5
1986,Indigo,Mccoy,female,19,2,14,91.3,"9652 Columbia Ave., Chattanooga, TN 37421",no,no,Not Busy,1604.0,397.0,492.0
1987,Price,Wall,male,15,5,11,78.6,"8672 S. 53rd Drive, Waterford, MI 48329",no,no,Not Busy,701.5,1299.5,998.5
1988,Quinn,Patterson,male,15,1,14,78.0,"634 Cedar Swamp Ave., Burbank, IL 60459",no,no,Not Busy,666.0,1335.0,492.0
1989,John,Ford,male,14,2,14,91.2,"64 Devonshire Street, Orange Park, FL 32065",no,no,Not Busy,1596.0,405.0,492.0
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053",no,no,Not Busy,214.5,1786.5,1512.0
1991,Craig,Obrien,male,16,3,7,64.9,"524 Park Ave., Hollywood, FL 33020",yes,yes,Not Busy,70.5,1930.5,1638.5
1992,Isabelle,Barber,female,14,5,9,78.5,"955 Glen Ridge Rd., Plattsburgh, NY 12901",no,no,Not Busy,695.5,1305.5,1362.5
1993,Risa,Watson,female,14,2,10,74.3,"37 Augusta Lane, Montgomery Village, MD 20886",no,no,Not Busy,421.5,1579.5,1190.5
1994,Emerson,Gill,male,17,5,5,67.5,"75 Wild Horse Street, Panama City, FL 32404",yes,yes,Not Busy,130.5,1870.5,1841.0
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304",no,no,Not Busy,794.0,1207.0,1512.0
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731",no,no,Not Busy,1957.0,44.0,87.0
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010",no,no,Not Busy,1158.5,842.5,492.0
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601",yes,yes,Not Busy,180.0,1821.0,1638.5
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043",no,no,Not Busy,770.0,1231.0,1190.5